<div class="modal-header">
	<h3 class="modal-title" ng-hide="currentPage > 1">Welcome!</h3>
	<h3 class="modal-title" ng-show="currentPage === 2">Creating the tracking forms</h3>
	<h3 class="modal-title" ng-show="currentPage === 3">Editing a tracking form</h3>
	<h3 class="modal-title" ng-show="currentPage === 4">Deleting a tracking form</h3>
	<h3 class="modal-title" ng-show="currentPage === 5">Viewing a tracking form</h3>
	<h3 class="modal-title" ng-show="currentPage === 6">Ready, Go!</h3>
	
	<button type="button" class="btn btn-sm btn-link pull-right closeModal badflag" ng-click="exit()">
		<i class="glyphicon glyphicon-remove"></i></button>
</div>

<div class="modal-body same-size">
	<div ng-hide="currentPage > 1">
		<p>This page will help you easily create and manage tracking forms for each agency accepted into the Winter Wishes program this year. <strong>Let's get started!</strong> </p>
		
		<p>
			<div class="form-inline">
				First, let's set the due date for the tracking forms: 
				<div class="input-group col-xs-12 col-sm-4 col-md-4">
					<input type="text" class="form-control input-sm" datepicker-popup="MM/dd/yy" ng-model="dueDate" ng-change="saveDueDate()" is-open="opened" min-date="minDate" datepicker-options="dateOptions" show-button-bar="false"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-upload btn-sm" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					</span>
				</div>
			</div>
		</p>

		<p>In order to proceed, all Winter Wishes applications in salesforce should be processed, and you should have the following information for each accepted agency: </p>
		<div class="row">
			<div class="col-md-6">
				<ul>
					<li>Agency Code</li>
					<li>Agency Name</li>
					<li>Contact Name</li>
					<li>Contact E-mail</li>
				</ul>
			</div>
			<div class="col-md-6">
				<ul>
					<li>Accepted Children</li>
					<li>Accepted Teens</li>
					<li>Accepted Seniors</li>
				</ul>
			</div>
		</div>

		<p>Download a salesforce report with these fields, and save it as a <strong>csv</strong> file.</p>
	
	</div>

	<div ng-show="currentPage == 2">
		Drag the csv file into the dropzone or click the dropzone to use the file browser. If all necessary data is found, the accepted agencies will appear onscreen within seconds. Each agency will be represented like this:<br/><br/>
		<div class="row">

			<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">

			  <div class="agency-box btn-empty" ng-mouseenter="turn = true" ng-mouseleave="turn = false">
				  <div class="text-center"><strong>ELM</strong></div>
				  <p class="text-center" ng-show="!turn">100 Letters</p>

				  <div class="text-center" ng-if="turn">
				  <a href="" class="btn btn-link agency-btn"><i class="glyphicon glyphicon-eye-open"></i></a>

				  <button type="button" class="btn btn-link agency-mid" ng-click=""><i class="glyphicon glyphicon-pencil"></i></button>

				  <button type="button" class="btn btn-link agency-btn" ng-click=""><i class="glyphicon glyphicon-trash"></i></button>
				</div>

			  </div>
			</div>
		</div>
		<p class="text-center">Hover over it to see the three possible actions.</p>
	</div>

	<div ng-show="currentPage == 3">
		<p>Click <button type="button" class="btn btn-xs btn-link tutor-link"><i class="glyphicon glyphicon-pencil"></i></button> in the box of the tracking form you wish to edit. A form will appear populated with the current information for the agency you selected. Once you have made the necessary modifications, click <input type="button" class="btn btn-save btn-xs" value="Save"> to safeguard your changes.</p>

		<p>* If you forgot to add an agency, just click <button type="button" class="btn btn-upload btn-xs"><i class="glyphicon glyphicon-plus"></i> Add Users</button> for a blank form.</p>
	</div>

	<div ng-show="currentPage == 4">	
		Click <button type="button" class="btn btn-xs btn-link tutor-link"><i class="glyphicon glyphicon-trash"></i></button> in the box of the tracking form you wish to delete. This will delete everything associated with the agency. This cannot be undone. For this reason, you will be asked to confirm that you really want to delete the selected agency.
	</div>

	<div ng-show="currentPage == 5">
		<p>Click <button type="button" class="btn btn-xs btn-link tutor-link"><i class="glyphicon glyphicon-eye-open"></i></button> in the box of the tracking form you wish to see. You can access an individual tracking form anytime to check how much progress a particular agency contact has made. However, this feature is more useful once an agency has submitted their form and you are ready to review it. You will know when tracking form is ready for review because the color of the box will change based on what stage of the process the tracking form is in.<p/>

		<p><div class="tutor-box empty"></div> the community partner has not yet started working on it. </p>
		<p><div class="tutor-box started"></div> the community partner has begun entering data. </p>
		<p><div class="tutor-box complete"></div> the community partner has submitted it and it is ready for review. </p>
		<p><div class="tutor-box review"></div> you have begun reviewing the tracking form.</p>
		<p><div class="tutor-box ready"></div> you have finished reviewing the tracking form.</p>
	</div>

	<div ng-show="currentPage == 6">
		<p>Once all the tracking forms have been created, you will need to e-mail all accepted agencies to let them know that they have been accepted into this year's Winter Wishes program and give them further instructions. For help with that, head over to the E-mail Templates via the main menu.</p>

		<p>You can also access this tutorial on the main menu if you need to see it again.</p>
	</div>

</div>

<div class="modal-footer pages">
	<pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="6" items-per-page="1" max-size="3" rotate="false" ng-model="currentPage"></pagination>
</div>