<div class="modal-header">
  <h4 class="modal-title">Mass E-mailing: Creating Templates</h4>
</div>
<div class="modal-body">
	<p>This page will help you create templates that will be used to e-mail all or some the agencies participating in this year's Winter Wishes.</p>
	<p>To add a new template, simply click <button type="button" class="btn btn-xs btn-link tutor-link"><i class="glyphicon glyphicon-plus"></i></button>. Next, in the sidebar, type in a name for your new template and a short summary of the intended message. When you click save a new box will appear onscreen to represent your new template. Click on the template name to see the template and add your message.</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
</div>