<div class="modal-header">
  <h4 class="modal-title">Mass E-mailing: Customize and Send</h4>
</div>
<div class="modal-body">
	<p>This page will help you to easily e-mail the same message to everyone in a specified list.</p>

	<p>You may use HTML for additional formatting. Also, use the following codes to show the appropriate information:</p>
	<ul>
		<li ng-non-bindable>{{partner}} to show agency contact's full name</li>
		<li ng-non-bindable>{{letters}} to show number of accepted letters as properly formatted text</li>
		<li ng-non-bindable>{{user}} to show agency's username</li>
		<li ng-non-bindable>{{pass}} to show agency's temporary password</li>
	</ul>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="ok()">OK</button>
</div>