<div class="home"></div>

<section data-ng-controller="HomeController">

  <div class="container">
    <div class="row welcome-container">

        <div class="col-md-6 col-md-offset-3 logo-container">
          <img class="img-responsive center-block logo" src="/modules/core/img/brand/nycares_logo.png">
        </div>

        <div class="col-md-12">
          <div class="welcome-mat">Welcome to Winter Wishes 2015!</div>
          <p class="lead">Login to start working on your tracking form.</p>
        </div>
        <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5">
          <a href="/#!/login" class="ebtn btn-login btn-block">Login</a>
        </div>

    </div>
  </div>

</section>

<section>

    <div class="row step-container whoa">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="steps"><i class="glyphicon glyphicon-pencil"></i> Write</div>
          <p class="lead">First, get all participants at your organization to write their letters. Make sure they add fun facts about themselves and festive decorations. We want the volunteers to be excited about receiving a letter.</p>

          <div class="steps step-separator"><i class="glyphicon glyphicon-sort-by-alphabet"></i> Organize</div>
          <p class="lead">Once you have collected all letters, organize them by tracking number. This will make the rest of the process easier.</p>

          <div class="steps step-separator"><i class="glyphicon glyphicon-check"></i> Review & Enter</div>
          <p class="lead">Next, review each letter to make sure the gift request is reasonable. Please keep in mind the $40 limit. If the letter looks good, type it in the appropriate tracking form slot. Otherwise, start a "To Be Rewritten" pile. Sub-par letters will be returned and the participants may end up without a gift.</p>

          <div class="steps step-separator"><i class="glyphicon glyphicon-envelope"></i> Submit</div>
          <p class="lead">Finally, when all letters have been reviewed and entered, submit the tracking form online and mail the letters to the New York Cares office.</p>
        </div>
      </div>

</section>


