<div class="modal-header">
  <h3 class="modal-title" ng-hide="currentPage > 1">Reviewing a Tracking Form</h3>
  <h3 class="modal-title" ng-show="currentPage === 2">Flagging a letter</h3>
  <h3 class="modal-title" ng-show="currentPage === 3">Editing a letter</h3>
  <h3 class="modal-title" ng-show="currentPage === 4">Review Complete</h3>
  <h3 class="modal-title" ng-show="currentPage === 5">Tracking Gift Receipts</h3>
  <button type="button" class="btn btn-sm btn-link pull-right closeModal badflag" ng-click="ok()">
    <i class="glyphicon glyphicon-remove"></i></button>
</div>
<div class="modal-body same-size">
  <div ng-hide="currentPage > 1">
    <p>This page will help you easily review a tracking form once it has been submitted. </p>

    <p>Once the tracking form and letters have been submitted, make sure the letters are organized by the number on the tracking label. This will make it easier for you to review the data. Then, click <button type="button" class="btn btn-xs btn-link tutor-link"><i class="glyphicon glyphicon-edit"></i></button> to begin reviewing.</p>
  </div>

  <div ng-show="currentPage == 2">
    <p>Click <button type="button" class="btn btn-xs btn-link tutor-link goodflag"><i class="glyphicon glyphicon-flag"></i></button> to mark a sub par letter. Click <button type="button" class="btn btn-xs btn-link tutor-link badflag"><i class="glyphicon glyphicon-flag"></i></button> if you change your mind. </p>
    <p>Click <button type="button" class="btn btn-xs btn-link tutor-link badflag"><i class="glyphicon glyphicon-exclamation-sign"></i></button> if the majority of the letters are unacceptable. This will allow the agency contact to edit the tracking form again. In these cases, you may want to send the letters back to be rewritten.</p>
  </div>

  <div ng-show="currentPage == 3">
    <div class="form-inline">
      Use <div class="input-group input-group-sm col-md-3 col-sm-3 col-xs-4"><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span><input type="search" class="form-control input-xs" placeholder="Search"/></div> to quickly find the letter you want to edit.
    </div>

    <p>Then, click on the row of the letter you wish to edit. The form fields will populate with the details from the letter you selected. Correct any mistakes you caught, then press <input type="button" class="btn btn-success btn-xs" value="Save & Continue"> to update the entry and move on to the next letter.</p>
  </div>  

  <div ng-show="currentPage == 4">
  <h4></h4>
  <p>Click <button type="button" class="btn btn-xs btn-link tutor-link"><i class="glyphicon glyphicon-ok-sign"></i></button> to complete the review. You will be asked to provide feedback about the agency to make next year's application process easier.</p>

  <p>Once complete, click <button type="button" class="btn btn-xs btn-link tutor-link" ><i class="glyphicon glyphicon-download"></i></button> to download a copy of the tracking form.</p>
  </div>
</div>
<div class="modal-footer pages">
  <pagination class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" total-items="4" items-per-page="1" max-size="2" rotate="false" ng-model="currentPage"></pagination>
</div>