.home{
  background: url(christmas-snow-background.jpg);
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  overflow: hidden;
  opacity: 0.5;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 50px;
  left: 0;
}

.logo-container {
  border-bottom: 1px solid white;
}

.logo {
  height: 80px;
  width: auto;
}

.welcome-container {
  padding: 4% 0;
  text-align: center;
}

.welcome-mat {
    font-size: 2.5em;
}

.step-container {
  border-bottom: 1px solid #e5e5e5;
  padding: 5% 0;
  text-align: center;
  background-color: white;
  overflow: hidden;
}

.steps {
  font-size: 2em;
}

.step-separator {
  border-top: 1px solid #e5e5e5;
  padding-top: 2%;
  width: 60%;
  margin: auto;
}

.ebtn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: black;
  border-color: black;
  background-color: white;
}

.btn-login {
  color: #cd4d52;
  border-color: #cd4d52;
}

.btn-login:hover, .btn-login:focus {
  text-decoration: none;
  background-color: white;
  border: 1px solid #85c739;
  color: #85c739;
}

