
<section data-ng-controller="ArticlesController" data-ng-init="find()">

	<div class="row">

		<div class="col-md-12">
			<legend><h2>Command Center</h2></legend>
		</div>

		<div class="col-md-12">
			<alert ng-show="alert.active" type="{{alert.type}}" ng-model="alert" close="alert.active = false">{{alert.msg}}</alert>
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-3 pull-right sideb col-sm-12 col-xs-12 nga-default nga-stagger nga-slide-right" ng-show="needToUpdate">
			<form role="form" ng-show="!partner">
				<div class="form-group">
					<label class="sr-only" for="the_file">File input</label>
					<div class="input-group">
						<span class="input-group-btn">
							<span class="btn btn-primary btn-file">
								Browse <input type="file" id="the_file" accept=".csv" onchange="angular.element(this).scope().fileInfo(this)">
							</span>
						</span>
						<input type="text" class="form-control col-md-4" ng-model="file.name" id="filename" readonly>
						<span class="input-group-btn">
						<input type="button" class="btn btn-primary" ng-click="handleFileSelect()" value="Upload"/>
						</span>
					</div>
				</div>
			</form>

			<form role="form">
				<div class="form-group">
					<label>Agency Info</label>
					<input type="text"  class="form-control" id="agency" ng-disabled="!isNewAgency" ng-model="partner.username" placeholder="agency code">
					<input type="text" class="form-control" ng-model="partner.agency" placeholder="agency name">
					<input type="text" class="form-control" ng-model="partner.contact" placeholder="contact name">
					<input type="email" class="form-control" ng-model="partner.email" placeholder="contact email">
				</div>

				<div class="form-group">
					<label>Accepted Letters</label>
					<input type="number" class="form-control" ng-model="partner.children" ng-disabled="partner.status >= 3" min="0" placeholder="children">
					<input type="number" class="form-control" ng-model="partner.teens" ng-disabled="partner.status >= 3" min="0" placeholder="teens">
					<input type="number" class="form-control" ng-model="partner.seniors" ng-disabled="partner.status >= 3" min="0" placeholder="seniors">
				</div>
				<input type="button" class="btn btn-danger col-md-4 col-sm-3 col-xs-3 pull-left" ng-click="hideSidebar()" value="Cancel">
				<div class="form-group">
					<input type="button" class="btn btn-success col-md-4 col-sm-3 col-xs-3 pull-right" ng-click="saveAgency()" value="Save">
				</div>
				<br/><br/>
			</form>
		</div>

		<div ng-class="needToUpdate ? 'col-md-3 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-4 col-sm-6 col-xs-12'">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
					<input type="search" class="form-control" ng-model="query.username" placeholder="Search by Agency Code"/>
				</div>
			</div>
		</div>

		<div ng-class="needToUpdate ? 'col-md-3 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-4 col-sm-6 col-xs-12'">
			<div class="form-group">
				<select class="form-control" ng-model="query.status">
					<option value="">Filter by Status</option>
					<option value="0">Not Yet Started</option>
					<option value="1">In Progress</option>
					<option value="3">Submitted</option>
					<option value="4">Under Review</option>
					<option value="5">Reviewed</option>
				</select>
			</div>
		</div>

	<div ng-class="needToUpdate ? 'col-md-9 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-12 col-sm-12 col-xs-12'">

	  <div class="row">
		<div class="col-xs-6 col-sm-3 col-md-2 nga-default nga-stagger nga-slide-right" ng-repeat="partner in partners | orderBy: 'username' | filter:query as results" ng-if="partner.username != 'AAA'">
		  <div class="thumbnail " ng-mouseenter="turn = true" ng-mouseleave="turn = false" >
			<div class="caption">
			  <div class="text-center">
				<a href="/#!/admin/agency/{{partner._id}}" class="btn btn-sm" ng-class="{'btn-primary': partner.status == 5, 'btn-info': partner.status == 4, 'btn-success': partner.status == 3, 'btn-warning': partner.status == 1, 'btn-danger': partner.status == 0}"><strong>{{partner.username}}</strong></a>
			  </div>
			  <p class="text-center" ng-show="partner.status < 5">{{partner.children + partner.teens + partner.seniors}} Letters</p>
			  <p class="text-center" ng-show="partner.status === 5"><rating ng-model="partner.rating.overall" readonly="true"></rating></p>

			  <button type="button" ng-if="turn" class="btn btn-xs btn-link pull-right deleteAgency" ng-click="deleteAgency(partner)"><i class="glyphicon glyphicon-remove"></i></button>
			  <button type="button" ng-if="turn" class="btn btn-xs btn-link pull-right editAgency" ng-click="showSidebar(partner)"><i class="glyphicon glyphicon-pencil"></i></button>
			</div>
		  </div>
		</div>
		<div class="col-xs-6 col-sm-3 col-md-2">
		  <div class="thumbnail">
			<div class="vcenter text-center">
			  <button type="button" class="btn btn-xs btn-link" ng-click="showSidebar()">
				<i class="glyphicon glyphicon-plus"></i></button>
			</div>
		  </div>
		</div>
	  </div>
	</div>

  </div>

</section>