
<section class="page-wrap" data-ng-controller="CommandController" data-ng-init="find()">

	<div class="row">
		<div class="col-md-9 col-sm-9 col-xs-8">
			<h2>Command Center</h2>
		</div>
		<div class="col-md-3 col-sm-3 col-xs-4 text-right hidden-print" ng-show="partners.length > 0 && !needToUpdate">
			<button class="btn btn-lg btn-link" ng-click="startSearch = !startSearch">
				<i class="fa fa-search"></i>
			</button>
			<button class="btn btn-lg btn-link" ng-click="showSidebar()">
				<i class="fa fa-user-plus"></i>
			</button>
		</div>
	</div>

	<div class="row">

		<!-- Agency Profile Fixed Sidebar -->
		<aside class="addbar">
			<div class="col-md-3 pull-right col-sm-12 col-xs-12 nga-default nga-stagger nga-slide-right hidden-print" ng-show="needToUpdate">

				<form role="form" name="agencyProfile" ng-submit="saveAgency()" novalidate>

					<div class="form-group">
						<label>Agency Info</label>

						<input type="text"  class="profile form-control" id="agency" ng-disabled="!isNewAgency" ng-model="partner.username" placeholder="agency code" ng-pattern="/^[A-Z]{3}$/" required>
						<input type="text" class="profile form-control" ng-model="partner.agency" placeholder="agency name" required>
						<input type="text" class="profile form-control" ng-model="partner.contact" placeholder="contact name" required>
						<input type="email" class="profile form-control" ng-model="partner.email" placeholder="contact email" required>
					</div>

					<div class="form-group">
						<label ng-hide='partner.status >= 3'>Accepted Letters</label>

						<label for="children" ng-class="partner.status >= 3 ? 'control-label': 'sr-only'">Accepted Children</label>
						<input type="number" name="children" class="profile form-control" ng-model="partner.children" ng-disabled="partner.status >= 3" min="0" placeholder="children" ng-required="!partner.teens && !partner.seniors">

						<label for="teens" ng-class="partner.status >= 3 ? 'control-label': 'sr-only'">Accepted Teens</label>
						<input type="number" name="teens" class="profile form-control" ng-model="partner.teens" ng-disabled="partner.status >= 3" min="0" placeholder="teens">

						<label for="seniors" ng-class="partner.status >= 3 ? 'control-label': 'sr-only'">Accepted Seniors</label>
						<input type="number" name="seniors" class="profile form-control" ng-model="partner.seniors" ng-disabled="partner.status >= 3" min="0" placeholder="seniors">
					</div>

					<input type="button" class="btn btn-cancel col-md-4 col-sm-3 col-xs-3 pull-left" ng-click="hideSidebar()" value="Cancel">
					<div class="form-group">
						<button type="submit" class="btn btn-save col-md-4 col-sm-3 col-xs-3 pull-right" ng-disabled="agencyProfile.$invalid">Save</button>
					</div>

				</form>
			</div>
		</aside>


	<div ng-class="needToUpdate ? 'col-md-9 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-12 col-sm-12 col-xs-12'">

		<div class="row">
			<div class="col-md-12">
				<alert ng-show="alert.active" type="{{alert.type}}" ng-model="alert" close="alert.active = false">		{{alert.msg}}
				</alert>

				<progressbar class="progress-striped active" max="newUsers" value="partners.length - oldUsers" type="success" ng-if="(newUsers > 0 && partners.length - oldUsers < newUsers && partners.length - oldUsers > 1)" ng-hide="fileDone">
					{{partners.length - oldUsers}}/{{newUsers}}
				</progressbar>
			</div>
		</div>	
 
	 	<div class="row" ng-if="startSearch">
		  	
		  	<!-- Search by Agency Code -->
		  	<div ng-class="needToUpdate ? 'col-md-6 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-4 col-sm-6 col-xs-12'">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="search" class="form-control" ng-model="query.username" placeholder="Search by Agency Code"/>
					</div>
				</div>
			</div>

			<!-- Filter by Status -->
			<div ng-class="needToUpdate ? 'col-md-6 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-4 col-sm-6 col-xs-12'">		
				<div class="form-group">
					<select class="form-control" ng-model="query.status" ng-change="updateURL()">
						<option value="" selected disabled>Filter by Status</option>
						<option value="0">Not Yet Started</option>
						<option value="1">In Progress</option>
						<option value="3">Submitted</option>
						<option value="4">Under Review</option>
						<option value="5">Reviewed</option>
					</select>
				</div>
			</div>

			<!-- Add Users OR Clear Filter -->
			<div class="col-md-2 col-sm-12 col-xs-12" ng-show="query.status">
				<div class="form-group">
					<button class="btn btn-block btn-cancel" 
						ng-click="updateURL(true)">
							<i class="fa fa-filter"></i> Clear Filter
					</button>
				</div>
			</div>
		</div>

		<div class="row">
		<!-- File Dropzone -->
			<div class="col-md-12" ng-show="user.status === 0 || partners.length === 0 || needToUpdate">
				<div ngf-select ngf-drop ng-model="file" ng-model-rejected="reject" class="drop-box" ng-show="!partner" ngf-drag-over-class="{accept:'dragover', reject:'dragover-err', delay:100}" ngf-change="handleFileSelect()" ngf-accept="'text/csv'" accept=".csv">
					<p class="lead">drop csv file here or <br/>click to browse<p>
			    </div>
		    </div>
		</div>

		<div class="row inline" ng-show="!needToUpdate || (needToUpdate && partner)">

		    <!-- Community Partner Boxes -->
			<div class="col-xs-6 col-sm-3 nga-default nga-stagger nga-slide-right" ng-class="needToUpdate ? 'col-md-3' : 'col-md-2'" ng-repeat="cp in partners | orderBy: 'username' | filter:query as results" ng-if="cp.role === 'user'">

				<div class="agency-box" ng-mouseenter="turn = true" ng-mouseleave="turn = false" ng-class="{'btn-ready': cp.status == 5, 'btn-review': cp.status == 4, 'btn-complete': cp.status == 3, 'btn-started': cp.status == 1, 'btn-empty': cp.status == 0}">

					<div class="text-center">
						<strong>{{cp.username}}</strong>
					</div>
					
					<p class="text-center" ng-show="cp.status < 5 && !turn">
						{{cp.children + cp.teens + cp.seniors}} Letters
					</p>

					<p class="text-center" ng-show="cp.status === 5 && !turn">
						<rating ng-model="cp.rating.overall" readonly="true"></rating>
					</p>

					<div class="text-center" ng-if="turn">
						<a href="/#!/admin/agency/{{cp.username}}" class="btn btn-link agency-btn"><i class="glyphicon glyphicon-eye-open"></i></a>

						<button type="button" class="btn btn-link agency-mid" ng-click="showSidebar(cp)"><i class="glyphicon glyphicon-pencil"></i></button>

						<button type="button" class="btn btn-link agency-btn" ng-click="deleteAgency(cp)"><i class="glyphicon glyphicon-trash"></i></button>
					</div>

				</div>
			</div>

		</div>
	</div>

  </div>

</section>