<section class="row" data-ng-controller="SettingsController">

	<h3 class="col-md-12 text-center">Welcome</h3>

	<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">

		<p>Below is the information you provided in your application. Please make sure that everything is correct before proceeding.</p>

		<p>Materials will be sent to:</p>

	</div>

	<div class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-4 col-md-4">

		<div class="thumbnail">
			{{user.contact | uppercase}} <br/>
			{{user.agency | uppercase}} <br/>
			{{user.address | uppercase}} <br/>
			{{user.city | uppercase}} NY  {{user.zip}} <br/>
		</div>

	</div>

	<div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-3 col-md-6">

		<p>If needed, we will contact you at {{user.phone}} or {{user.email}}.</p>

		<div class="pull-left form-group">
			<a href="/#!/settings/profile/first" class="btn btn-cancel">Edit</a>
		</div>

		<div class="pull-right form-group">
			<a href="/#!/" class="btn btn-save">Continue</a>
		</div>

	</div>

</section>