<section data-ng-controller="ManageAdminsController" data-ng-init="find()">

	<div class="row">

		<div class="col-md-12">
			<h3>Manage Admin Users</h3>
		</div>

		<div class="col-md-8">
			<alert ng-if="alert.active" type="{{alert.type}}" ng-model="alert" close="alert.active = false"><i class="glyphicon glyphicon-warning-sign"></i> {{alert.msg}}</alert>

			<div class="table-responsive">
				<table class="table table-stripes">
					<thead>
						<th>User</th>
						<th>Name</th>
						<th>Email</th>
						<th>Role</th>
					</thead>
					<tbody>
						<tr ng-repeat="admin in users" ng-if="admin.role !== 'user'" ng-click="removeAdmin(admin)" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
							<td colspan="4" class="text-center" ng-if="hover && user.username !== admin.username && !addNewAdmin">click here to delete this account</div>
							<td ng-if="(!hover || user.username === admin.username) || addNewAdmin" class="col-md-2">{{admin.username}}</td>
							<td ng-if="!hover || user.username === admin.username || addNewAdmin" class="col-md-3">{{admin.contact}}</td>
							<td ng-if="!hover || user.username === admin.username || addNewAdmin" class="col-md-3">{{admin.email}}</td>
							<td ng-if="!hover || user.username === admin.username || addNewAdmin" class="col-md-2">{{admin.role}}</td>
						</tr>
						<tr ng-show="addNewAdmin">
							<td>
								<input type="text" class="form-control profile" placeholder="username" ng-model="credentials.username">
							</td>
							<td>
								<input type="text" class="form-control profile" placeholder="full name" ng-model="credentials.contact">
							</td>
							<td>
								<input type="text" class="form-control profile" placeholder="email" ng-model="credentials.email"></td>
							<td>
								<select class="form-control" ng-model="credentials.role">
									<option value="admin">admin</option>
									<option value="volunteer">volunteer</option>
								</select>
							</td>
						</tr>
						<tr>
							<td ng-hide="addNewAdmin" colspan="4">
								<button class="btn btn-upload" ng-click="addNewAdmin = true">Add New Users</button>
							</td>
							<td ng-show="addNewAdmin" colspan="4">
								<button class="btn btn-cancel pull-left" ng-click="addNewAdmin = false">Cancel</button> 
								<button class="btn btn-save pull-right" ng-click="addAdmin()">Save</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>

	</div>

</section>