<section class="row" data-ng-controller="SettingsController">

	<h3 class="col-md-12 text-center">Change your password</h3>

	<div class="col-md-12">

		<div class="col-md-4 col-sm-5 col-xs-12 em-center">
			<form data-ng-submit="changeUserPassword()" class="signin" autocomplete="off">
				<fieldset>
					<div class="form-group">

						<label for="currentPassword" class="control-label">Current Password</label>
						<input type="password" id="currentPassword" name="currentPassword" class="profile form-control" data-ng-model="passwordDetails.currentPassword" placeholder="current password">
				
						<label for="newPassword" class="control-label">New Password</label>
						<input type="password" id="newPassword" name="newPassword" class="profile form-control" data-ng-model="passwordDetails.newPassword" placeholder="new password">
					
						<label for="verifyPassword" class="control-label">Verify New Password</label>
						<input type="password" id="verifyPassword" name="verifyPassword" class="profile form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="verify new password">

					</div>
					
						<div class="text-center form-group">
						<button type="submit" class="btn btn-large btn-save">Save Password</button>
					</div>
					<div data-ng-show="success" class="text-center text-success">
						<strong>Password Changed Successfully</strong>
					</div>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>
		</div>

	</div>

</section>