<section data-ng-controller="EmailsController" data-ng-init="find()">

	<div class="row">
		<div class="col-md-12">
			<ol class="breadcrumb">
				<li><a href="#!/admin"><i class="glyphicon glyphicon-home" tooltip="Back to Command Center" tooltip-trigger="mouseenter" tooltip-append-to-body="true"></i></a></li>
				<li class="active">E-mail Templates</li>
			</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 pull-right sideb col-sm-12 col-xs-12" ng-show="needToUpdate">

			<form role="form" name="etemplateForm">
				<fieldset>
					<div class="form-group">
						<label class="control-label sr-only" for="title">Title</label>
						<div class="controls">
							<input name="title" type="text" id="title" class="form-control" data-ng-model="etemplate.title" placeholder="title" required></input>
						</div>
						<label class="control-label sr-only" for="description">Description</label>
						<div class="controls">
							<textarea name="description" id="description" class="form-control" data-ng-model="etemplate.description" rows="3" placeholder="description" required></textarea>
						</div>
					</div>
					<input type="button" class="btn btn-danger col-md-4 col-sm-3 col-xs-3 pull-left" ng-click="hideSidebar()" value="Cancel">
					<div class="form-group">
						<input type="button" class="btn btn-success col-md-4 col-sm-3 col-xs-3 pull-right" ng-disabled="etemplateForm.$invalid" ng-click="createTemplate()" value="Save">
					</div>
					<br/><br/>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
				</fieldset>
			</form>

		</div>

		<div ng-class="needToUpdate ? 'col-md-9 pull-left col-sm-12 clearfix col-xs-12 clearfix' : 'col-md-12 col-sm-12 col-xs-12'">

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="template in emails">
					<div class="thumbnail" ng-mouseenter="turn = true" ng-mouseleave="turn = false">
						<div class="caption emailnail">
							<div class="text-center">
								<a href="/#!/admin/email/{{template._id}}"><h5>{{template.title}}<h5></a>
							</div>
							<p class="text-center">{{template.description}}</p>

							<button type="button" ng-if="turn" class="btn btn-xs btn-link pull-right deleteAgency" ng-click="deleteTemplate(template)"><i class="glyphicon glyphicon-remove"></i></button>
							<button type="button" ng-if="turn" class="btn btn-xs btn-link pull-right editEtemplate" ng-click="showSidebar(template)"><i class="glyphicon glyphicon-pencil"></i></button>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="thumbnail">
						<div class="evcenter text-center">
							<button type="button" class="btn btn-xs btn-link" ng-click="showSidebar()">
								<i class="glyphicon glyphicon-plus"></i></button>
						</div>
					</div>
				</div>
			  
			</div>
		
		</div>
	</div>
	
</section>